<div id="general_stats">
  <div id="internal_navigation" fragment="internal_navigation">
    <span class="internal_navigation__text">Ir a </span>
    <a class="internal_navigation__link" href="/stats#proposals">{{'stats.proposals' | translate}}</a>
    <a class="internal_navigation__link" href="/stats#users">{{'stats.users' | translate}}</a>
    <a class="internal_navigation__link" href="/stats#comments">{{'stats.comments' | translate}}</a>
  </div>
  <div>
    <h2>
      {{'stats.stats' | translate}}
    </h2>
  </div>
  <section id="summary">
    <p *ngIf="!daily_user_loading; else still_loading">
      <fa-icon [icon]="this.faUsers"></fa-icon> {{this.daily_user_metrics?.count }} {{'stats.users_registered' | translate}}
    </p>
    <p *ngIf="!daily_proposal_loading; else still_loading">
      <fa-icon [icon]="this.faLightbulb"></fa-icon> {{this.daily_proposal_metrics?.count }} {{'stats.proposals_done' | translate}}
    </p>
    <p *ngIf="this.categories; else still_loading">
      <fa-icon [icon]="this.faDiagramProject"></fa-icon> {{this.categories.length }} {{'stats.categories' | translate}}
    </p>
    <p *ngIf="!participatory_processes_loading; else still_loading">
      <fa-icon [icon]="this.faUsersBetweenLines"></fa-icon> {{this.daily_participatory_processes_metrics?.count }} {{'stats.started_participative_processes' | translate}}
    </p>
    <p *ngIf="!daily_comment_loading && languages; else still_loading">
      <fa-icon [icon]="this.faLanguage"></fa-icon> {{this.comments_metrics?.count }} {{'stats.comments_language' | translate}} {{this.languages.length }} {{'stats.languages' | translate}}
    </p>
  </section>
</div>
<div>
  <div class="title_with_anchor">
    <a class="internal_navigation__link" href="/stats#internal_navigation">↑</a>
    <h2 id="proposals" fragment="proposals">{{'stats.proposals' | translate}}</h2>
  </div>
  <section>
    <app-stats-dashboard
      *ngIf="this.proposalsBySupports"
      [data]="this.proposalsBySupports"
      [gini]="this.proposalsBySupportsGini"
      gini_title="stats.polarization"
      title="stats.most_endorsed_proposals"
      countColumnName="stats.endorsements"
      countColumn="endorsements"
      titleColumn="id"
      x_axis_title="Identificador de la propuesta"
      [icon]="this.faHandsClapping"
    ></app-stats-dashboard>

    <app-stats-dashboard
      *ngIf="this.proposalsByComments"
      [data]="this.proposalsByComments"
      [gini]="this.proposalsByCommentsGini"
      gini_title="stats.inequality"
      countColumnName="stats.comments"
      title="stats.most_commented_proposals"
      countColumn="comments"
      titleColumn="id"
      x_axis_title="Identificador de la propuesta"
      [icon]="this.faComments"
    ></app-stats-dashboard>

    <app-stats-dashboard
      *ngIf="this.categoriesByProposals"
      [data]="this.categoriesByProposals"
      [gini]="this.categoriesByProposalsGini"
      gini_title="stats.unequality"
      countColumnName="stats.proposals"
      title="stats.areas_with_more_proposals"
      countColumn="categories"
      titleColumn="name_en"
      x_axis_title="Identificador del área"
      [icon]="this.faLayerGroup"
      [isProposal]=false
    ></app-stats-dashboard>

  </section>
</div>
<div>
  <div class="title_with_anchor">
    <a class="internal_navigation__link" href="/stats#internal_navigation">↑</a>
    <h2 id="users" fragment="users">{{'stats.users' | translate}}</h2>
  </div>
  <section>
      <app-stats-dashboard
        *ngIf="this.usersByComments"
        [data]="this.usersByComments"
        [gini]="this.usersByCommentsGini"
        gini_title="stats.unequality"
        countColumnName="stats.comments"
        title="stats.most_active_users_by_comments"
        countColumn="comments"
        titleColumn="name"
        [icon]="this.faComments"
        [isProposal]=false
      ></app-stats-dashboard>
  </section>
</div>
<div>
  <div class="title_with_anchor">
    <a class="internal_navigation__link" href="/stats#internal_navigation">↑</a>
    <h2 id="comments" fragment="comments">{{'stats.comments' | translate}}</h2>
  </div>
  <h3>
    {{'stats.comments_written_language' | translate}} <fa-icon [icon]="this.faLanguage"></fa-icon>
  </h3>
  <div class="container" class="demographic_table">
    <ag-charts-angular *ngIf="this.languageCount.length > 0 && this.languageTreeMapOptions"
      class="treemap"
      style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"
      [options]="this.languageTreeMapOptions"
    ></ag-charts-angular>
  </div>
  <h3>
    {{'stats.most_commented_categories' | translate}} <fa-icon [icon]="this.faComments"></fa-icon>
  </h3>
  <div *ngIf="this.categoriesByComments; else still_loading" class="demographic_table">
    <app-stats-dashboard
      *ngIf="this.categoriesByComments"
      [data]="this.categoriesByComments"
      [gini]="this.categoriesByCommentsGini"
      countColumnName="stats.proposals"
      title="stats.most_commented_categories"
      countColumn="comments"
      titleColumn="name_en"
      [icon]="this.faComments"
      [isProposal]=false
    ></app-stats-dashboard>
  </div>
</div>


<ng-template #still_loading>
  <app-still-loading></app-still-loading>
</ng-template>
