<div id="general_stats">
  <h2>
    Actualmente, Futureu tiene...
  </h2>

  <section *ngIf="!user_loading; else still_loading">
    ...un total de {{this.user_metrics?.count }} usuarios registrados.
  </section>
  <section *ngIf="!proposal_loading; else still_loading">
    ...{{this.proposal_metrics?.count }} propuestas realizadas.
  </section>
  <section *ngIf="this.categories; else still_loading">
    ...{{this.categories.length }} categorías.
  </section>
  <section *ngIf="!participatory_processes_loading; else still_loading">
    ...{{this.participatory_processes_metrics?.count }} procesos participativos iniciados.
  </section>
  <section *ngIf="!comments_loading && languages; else still_loading">
    ...{{this.comments_metrics?.count }} comentarios escritos en {{this.languages.length }} idiomas diferentes.
  </section>
</div>
<div>
  <h2>Propuestas</h2>
  <p>
    En Futureu, estas son las 15 propuestas con mayor número de apoyos:
  </p>
  <div *ngIf="this.proposalsBySupports">
    <p-table [value]="this.proposalsBySupports">
      <ng-template pTemplate="header">
          <tr>
              <th>Título</th>
              <th>Apoyos</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-proposal>
          <tr>
              <td>{{proposal.title_es}}</td>
              <td>{{proposal.endorsements}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>

  <p>
    y estas son las propuestas con más comentarios:
  </p>
  <div *ngIf="this.proposalsByComments">
    <p-table [value]="this.proposalsByComments">
      <ng-template pTemplate="header">
          <tr>
              <th>Título</th>
              <th>Apoyos</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-proposal>
          <tr>
              <td>{{proposal.title_es}}</td>
              <td>{{proposal.comments}}</td>
          </tr>
      </ng-template>
    </p-table>
  </div>

  <p>
    Con respecto a áreas con más propuestas, el reparto es el siguiente
  </p>
  <div *ngIf="this.categoriesByProposals">
    <p-table [value]="this.categoriesByProposals">
      <ng-template pTemplate="header">
          <tr>
              <th>Título</th>
              <th>Número de propuestas</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-category>
          <tr>
              <td>{{category.name_en}}</td>
              <td>{{category.categories}}</td>
          </tr>
      </ng-template>
    </p-table>
  </div>


</div>
<div>
  <h2>Idiomas de los comentarios</h2>
  <p>
    En Futureu, podemos encontrar comentarios escritos en los siguientes idiomas:
  </p>
  <div class="container">
    <ag-charts-angular *ngIf="this.language_count.length > 0 && this.languageTreeMapOptions"
      class="histogram"
      style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"
      [options]="this.languageTreeMapOptions"
    ></ag-charts-angular>
  </div>
</div>


<ng-template #still_loading>
  Cargando datos
</ng-template>
