<div id="footer">
  <div>
    <p>
      <a class="footer_link" title="Futureu.europa.eu" href="https://futureu.europa.eu/">Futureu.europa.eu</a>
    </p>
  </div>
  <div>
    <a class="footer_link" title="Github project decidim_viz_front" href="https://github.com/DataPolitik/decidim_viz_front">v0.3</a>
  </div>
  <div>
    <p-dropdown [options]="languageItems"
                [(ngModel)]="currentLanguage"
                optionLabel="name"
                (onChange)="this.changeLanguage($event)"></p-dropdown>
  </div>
</div>
