<div id="footer">
  <div>
    <p>
      <a class="footer_link" title="Futureu.europa.eu" href="https://futureu.europa.eu/">Futureu.europa.eu</a>
      (<a class="footer_link_download_data" title="{{'footer.download_data' | translate}}" [href]="this.download_url">{{'footer.download_data' | translate}}</a>)
    </p>
  </div>
  <div>
    <a class="footer_link" title="Github project decidim_viz_front" href="https://github.com/DataPolitik/decidim_viz_front">v0.4</a>
  </div>
  <div>
    <p-dropdown [options]="languageItems"
                [(ngModel)]="currentLanguage"
                optionLabel="name"
                (onChange)="this.changeLanguage($event)"></p-dropdown>
  </div>
</div>
