<div id="history">
  <h2>
    Métricas
  </h2>
  <section id="filters">
    <span>Mostrando desde </span>
    <p-calendar [(ngModel)]="dateFrom" dateFormat="dd/mm/yy"  [readonlyInput]="true" [showIcon]="true" (onSelect)="this.dateChanged()"></p-calendar>
    <span>Hasta el</span>
    <p-calendar [(ngModel)]="dateTo"   dateFormat="dd/mm/yy"  [readonlyInput]="true" [showIcon]="true" (onSelect)="this.dateChanged()"></p-calendar>
  </section>
  <h3>
    Evolución temporal de usuarios
  </h3>
  <section *ngIf="!user_loading; else still_loading" class="histogram_chart">
    <div>
      <app-metrics-histogram
        [response]="this.user_metrics?.history?.slice(0)?.reverse()"
        xName="Fecha"
        yName="Número de usuarios">
      </app-metrics-histogram>
    </div>

  </section>

  <h3>
    Evolución temporal de propuestas
  </h3>

  <section *ngIf="!proposal_loading; else still_loading" class="histogram_chart">
    <div>
      <app-metrics-histogram
      [response]="this.proposal_metrics?.history?.slice(0)?.reverse()"
      xName="Fecha"
      yName="Número de propuestas">
      </app-metrics-histogram>
    </div>

  </section>

  <h3>
    Procesos participativos
  </h3>
  <section *ngIf="!participatory_processes_loading; else still_loading" class="histogram_chart">
    <div>
      <app-metrics-histogram
      [response]="this.participatory_processes_metrics?.history?.slice(0)?.reverse()"
      xName="Fecha"
      yName="Número de procesos participativos">
      </app-metrics-histogram>
    </div>

  </section>

  <h3>
    Comentarios
  </h3>
  <section *ngIf="!comments_loading; else still_loading" class="histogram_chart">
    <div>
      <app-metrics-histogram
      [response]="this.comments_metrics?.history?.slice(0)?.reverse()"
      xName="Fecha"
      yName="Número de comentarios">
      </app-metrics-histogram>
    </div>

  </section>
</div>

<ng-template #still_loading>
  <app-still-loading></app-still-loading>
</ng-template>
