<h2>
  {{'about.title' | translate}}
</h2>
<section class="about_content">
  <h2>
    {{'about.what_is_this' | translate}}
  </h2>
  <p>
    {{'about.p1p1' | translate}} <a title="Decidim" href="https://decidim.org/">Decidim</a>.
    {{'about.p1p2' | translate}}.
  </p>
  <p>
    {{'about.p2p1' | translate}} <a title="Tecnopolitica.net" href="https://tecnopolitica.net/">Tecnopolitica.net</a> ({{'about.p2p2' | translate}}
    <a href="http://www.communicationchange.net">Communication Networks and Social Change</a> {{'about.p2p3' | translate}}
    <a title="Instituto Interdisciplinario de Internet de la Universitat" href="https://www.uoc.edu/portal/es/in3/index.html">{{'about.in3' | translate}}</a>
    {{'about.p2p4' | translate}} <a title="Universitat Oberta de Catalunya" href="https://www.uoc.edu/">Universitat Oberta de Catalunya</a>), {{'about.p2p5' | translate }}
    <a title="Heuristica.barcelona" href="http://www.heuristica.barcelona/">Heuristica.barcelona</a>  {{'about.p2p6' | translate}} <a title="{{'about.platoniq' | translate}}"
    href="https://www.platoniq.net/">{{'about.platoniq' | translate}}</a>, {{'about.p2p7' | translate}}
    <a title="{{'about.d2' | translate}}" href="https://tecnopolitica.net/es/projects/d2-espacio-de-datos-y-democracia">{{'about.d2' | translate}}</a>, {{'about.p2p8' | translate}}.
  </p>
  <h2>{{'about.where_does_the_data_come_from' | translate }}</h2>
  <p>
    {{'about.p3p1' | translate }}:
  </p>
  <ul class="about_ul">
    <li>{{'about.p3p2' | translate }}.</li>
    <li>{{'about.p3p3' | translate }}.</li>
  </ul>
  <p>
    {{'about.p3p4' | translate}} <a href="https://futureu.europa.eu/">Futureu</a> {{'about.p3p5' | translate}} .
  </p>
  <h2>{{'about.can_i_help' | translate}}</h2>
  <p>
    {{'about.p4p1' | translate}} <a href="https://meta.decidim.org/conferences/DecidimFest22/f/1698/meetings/1719">Meta Decidim</a>.
  </p>
</section>
