<h2>
  ¿Qué es Decidim.vis?
</h2>
<p>
  Decidim.vis es una prueba de concepto de un visor de información de una instancia de Decidim. El objetivo de Decidim.vis es atender a la necesidad de la Comunidad de usuarios
  de Decidim de conseguir, rapidamente, métricas e información estadística que les pueda ser de utilidad.
</p>
<h2>¿De dónde saca los datos Decidim.vis?</h2>
<p>
  Decidim.vis obtiene los datos de dos fuentes:
</p>
<ul class="about_ul">
  <li>API de de la instancia de Decidim.</li>
  <li>Ficheros de descarga masiva de Decidim.</li>
</ul>
<p>
  Actualmente, para la prueba de concepto, utilizamos la instancia de <a href="https://futureu.europa.eu/">Futureu</a> como fuente de datos.
</p>
<h2>¿Puedo hacer comentarios o dar feedback al proyecto?</h2>
<p>
  Por supuesto. Puedes hacerlo, entrando en <a href="https://meta.decidim.org/conferences/DecidimFest22/f/1698/meetings/1719">Meta Decidim</a>.
</p>
