#filters{
  display: flex;
  font-size: 13px;
  justify-content: center;
}

#filters span{
  margin-left: 10px;
  margin-right: 19px;
}


.histogram_chart{
  width: 90%;
  height: 70%;
}

.treemap{
  position: inherit !important;
  height: 576px;
  width: 962px;
  display: inline-block;
}

.demographic_table{
  text-align: center;
}

#internal_navigation{
  padding-left: 10px;
  margin-top: 25px;
  margin-left: 10px;
  font-size: 15px !important;
}

.internal_navigation__text{
  font-size: 15px;
}
.internal_navigation__link{
  font-size: 15px;
  display: inline-block;
  padding: 5px;
  padding-left: 20px;
  color:rgb(108, 117, 125);

}

.internal_navigation__link:link{
  text-decoration: none;
}

.title_with_anchor h2{
  display: inline-block;
  margin-left: 0;
  padding: 0;
  vertical-align: middle;
}

.box{
  display: inline-block;
}


.graph_element{
  margin-top: 150px;
}

.additional_info a{
  text-decoration: none;
}
