<a id="top"></a>
<div class="new_section" id="general_stats_section"></div>
<div id="general_stats">

<div>
  <div class="new_section" id="languages_section"></div>
  <div class="title_with_anchor">
    <a class="internal_navigation__link" href="/activities#top">↑</a>
    <h2 id="languages" fragment="languages">{{'stats.comments_written_language' | translate}}</h2>
  </div>

  <div class="container" class="demographic_table">
    <ag-charts-angular *ngIf="this.languageCount.length > 0 && this.languageTreeMapOptions"
      class="treemap"
      style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"
      [options]="this.languageTreeMapOptions"
    ></ag-charts-angular>
  </div>




<ng-template #still_loading>
  <app-still-loading></app-still-loading>
</ng-template>
