<a id="top"></a>
<div class="new_section" id="general_stats_section"></div>
<div id="general_stats">

<div>
  <div class="new_section" id="comments_section"></div>
  <div class="container" class="demographic_table">
    <div>
      <h2 id="languages" fragment="languages">{{'stats.comments_written_language' | translate}}</h2>
      <ag-charts-angular *ngIf="this.languageCount.length > 0 && this.languageTreeMapOptions"
        class="treemap"
        style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"
        [options]="this.languageTreeMapOptions"
      ></ag-charts-angular>
    </div>
    <div class="graph_element">
      <h2 id="languages" fragment="languages">{{'stats.comment_length' | translate}}</h2>
      <app-boxplot class="box" *ngIf="this.commentsLengthData"
          [dataInput]="this.commentsLengthData"
          title=""
          [height]="600"
          [width]="500"
          ></app-boxplot>
    </div>
    <div class="graph_element">
      <h2 id="languages" fragment="languages">{{'stats.comments_depth' | translate}}</h2>
      <app-boxplot class="box" *ngIf="this.commentsDepth"
          [dataInput]="this.commentsDepth"
          title=""
          [height]="600"
          [width]="500"
          ></app-boxplot>
    </div>
  </div>



<ng-template #still_loading>
  <app-still-loading></app-still-loading>
</ng-template>
