<a id="top"></a>
<div id="history_submenu">
  <div id="submenu">
    <i class="pi pi-chevron-right submenu_intro"></i>
    <p-tabMenu class="submenu__element" [model]="this.subMenuitems"></p-tabMenu>
  </div>
</div>
<div class="new_section" id="general_stats_section"></div>
<div id="general_stats">
  <section id="summary">
    <p *ngIf="!daily_user_loading; else still_loading">
      <fa-icon [icon]="this.faUsers"></fa-icon> {{this.daily_user_metrics?.count }} {{'stats.users_registered' | translate}}
    </p>
    <p *ngIf="!daily_proposal_loading; else still_loading">
      <fa-icon [icon]="this.faLightbulb"></fa-icon> {{this.daily_proposal_metrics?.count }} {{'stats.proposals_done' | translate}}
    </p>
    <p *ngIf="this.categories; else still_loading">
      <fa-icon [icon]="this.faDiagramProject"></fa-icon> {{this.categories.length }} {{'stats.categories' | translate}}
    </p>
    <p *ngIf="!participatory_processes_loading; else still_loading">
      <fa-icon [icon]="this.faUsersBetweenLines"></fa-icon> {{this.daily_participatory_processes_metrics?.count }} {{'stats.started_participative_processes' | translate}}
    </p>
    <p *ngIf="!daily_comment_loading && languages; else still_loading">
      <fa-icon [icon]="this.faLanguage"></fa-icon> {{this.comments_metrics?.count }} {{'stats.comments_language' | translate}} {{this.languages.length }} {{'stats.languages' | translate}}
    </p>
  </section>
</div>
<div class="new_section" id="dynamics_section"></div>
<div id="history">
  <h2 id="dynamics">
    {{"activities.dynamics" | translate }}
  </h2>
  <section id="filters" *ngIf="dateFrom && dateTo && dateFromLimit && dateToLimit">
    <span>{{"activities.showing_from" | translate }} </span>
    <p-calendar [(ngModel)]="dateFrom"
      dateFormat="dd/mm/yy"
      [readonlyInput]="true"
      [showIcon]="true"
      [minDate]="dateFromLimit"
      [maxDate]="dateToLimit"
      (ngModelChange)="this.dateChanged()"></p-calendar>
    <span>{{"activities.showing_to" | translate }}</span>
    <p-calendar [(ngModel)]="dateTo"
      dateFormat="dd/mm/yy"
      [readonlyInput]="true"
      [showIcon]="true"
      [minDate]="dateFromLimit"
      [maxDate]="dateToLimit"
      (ngModelChange)="this.dateChanged()"></p-calendar>
  </section>
  <div *ngIf="dateFrom && dateTo">
    <app-activities-proposals *ngIf="this.dateFrom && this.dateTo"
      [dateFrom]="this.dateFrom"
      [dateTo]="this.dateTo">
    </app-activities-proposals>
      <app-activities-comments *ngIf="this.dateFrom && this.dateTo"
      [dateFrom]="this.dateFrom"
      [dateTo]="this.dateTo">
    </app-activities-comments>
  </div>
</div>

<div>
  <div>
    <div class="new_section" id="featured_section"></div>
    <div class="title_with_anchor">
      <a class="internal_navigation__link" href="/activities#top">↑</a>
      <h2 id="featured" fragment="featured">{{'stats.featured' | translate}}</h2>
    </div>
    <h3>{{'stats.proposals' | translate}}</h3>
    <section>
      <app-stats-dashboard
        *ngIf="this.proposalsBySupports"
        [data]="this.proposalsBySupports"
        [gini]="this.proposalsBySupportsGini"
        gini_title="stats.polarization"
        title="stats.most_endorsed_proposals"
        countColumnName="stats.endorsements"
        fillColor="#FF9B25"
        countColumn="endorsements"
        titleColumn="position"
        typeColumnCount="category"
        x_axis_title="Propuesta"
        [icon]="this.faHandsClapping"
      ></app-stats-dashboard>

      <app-stats-dashboard
        *ngIf="this.proposalsByComments"
        [data]="this.proposalsByComments"
        [gini]="this.proposalsByCommentsGini"
        gini_title="stats.inequality"
        countColumnName="stats.comments"
        title="stats.most_commented_proposals"
        countColumn="comments"
        fillColor="#FF9B25"
        titleColumn="position"
        typeColumnCount="category"
        x_axis_title="Propuesta"
        [icon]="this.faComments"
      ></app-stats-dashboard>

      <h3>{{'stats.users' | translate}}</h3>

      <app-stats-dashboard
      *ngIf="this.usersByComments"
      [data]="this.usersByComments"
      [gini]="this.usersByCommentsGini"
      gini_title="stats.inequality"
      countColumnName="stats.comments"
      title="stats.most_active_users_by_comments"
      countColumn="comments"
      fillColor="#FF9B25"
      titleColumn="name"
      typeColumnCount="category"
      [icon]="this.faComments"
      [isProposal]=false
    ></app-stats-dashboard>



    </section>
  </div>
  <h3>
    {{'stats.most_commented_categories' | translate}} <fa-icon [icon]="this.faComments"></fa-icon>
  </h3>
  <div *ngIf="this.categoriesByComments; else still_loading">
    <app-stats-dashboard
      *ngIf="this.categoriesByComments"
      [data]="this.categoriesByComments"
      [gini]="this.categoriesByCommentsGini"
      countColumnName="stats.proposals"
      title="stats.most_commented_categories"
      countColumn="comments"
      fillColor="#2B627F"
      titleColumn="name_en"
      typeColumnCount="category"
      [icon]="this.faComments"
      [isProposal]=false
    ></app-stats-dashboard>
  </div>
    <app-stats-dashboard
    *ngIf="this.categoriesByProposals"
    [data]="this.categoriesByProposals"
    [gini]="this.categoriesByProposalsGini"
    gini_title="stats.inequality"
    countColumnName="stats.proposals"
    title="stats.areas_with_more_proposals"
    countColumn="categories"
    fillColor="#2B627F"
    titleColumn="name_en"
    typeColumnCount="category"
    x_axis_title="Área"
    [icon]="this.faLayerGroup"
    [isProposal]=false
  ></app-stats-dashboard>
</div>

<ng-template #still_loading>
  <app-still-loading></app-still-loading>
</ng-template>
