<div id="history">
  <h2>
    {{"activities.activities" | translate }}
  </h2>
  <section id="filters" *ngIf="dateFrom && dateTo && dateFromLimit && dateToLimit">
    <span>{{"activities.showing_from" | translate }} </span>
    <p-calendar [(ngModel)]="dateFrom"
      dateFormat="dd/mm/yy"
      [readonlyInput]="true"
      [showIcon]="true"
      [minDate]="dateFromLimit"
      [maxDate]="dateToLimit"
      (ngModelChange)="this.dateChanged()"></p-calendar>
    <span>{{"activities.showing_to" | translate }}</span>
    <p-calendar [(ngModel)]="dateTo"
      dateFormat="dd/mm/yy"
      [readonlyInput]="true"
      [showIcon]="true"
      [minDate]="dateFromLimit"
      [maxDate]="dateToLimit"
      (ngModelChange)="this.dateChanged()"></p-calendar>
  </section>
  <div *ngIf="dateFrom && dateTo">
    <app-activities-proposals *ngIf="this.dateFrom && this.dateTo"
      [dateFrom]="this.dateFrom"
      [dateTo]="this.dateTo">
    </app-activities-proposals>
      <app-activities-comments *ngIf="this.dateFrom && this.dateTo"
      [dateFrom]="this.dateFrom"
      [dateTo]="this.dateTo">
    </app-activities-comments>
  </div>
</div>

<ng-template #still_loading>
  <app-still-loading></app-still-loading>
</ng-template>
