<div id="stats_dashboard">
<h4 *ngIf="this.title && this.icon">
  {{title | translate}} <fa-icon [icon]="this.icon"></fa-icon>
</h4>
<h4 *ngIf="this.title && !this.icon">
  {{title | translate}}
</h4>
<div *ngIf="this.gini" class="demographic_table--gini">
  <span class="additional_info" pTooltip="El índice de Gini calcula la desigualdad existente en una muestra. Siendo 0 la máxima igualdad y 1 la máxima desigualdad.">ⓘ </span>
  <span>{{this.gini_title | translate}}: </span>
  <span>{{this.gini | number:'1.3'}}</span>
</div>

<p-tabView>
  <p-tabPanel leftIcon="pi pi-chart-bar">
    <div class="stats_chart">
      <ag-charts-angular
          *ngIf="this.options && this.data"
          style="display:block; top: 0; right: 0; bottom: 0; left: 0; height: 600px; width: 100%;"
          [options]="options">
      </ag-charts-angular>
    </div>
  </p-tabPanel>
  <p-tabPanel leftIcon="pi pi-table">
    <div *ngIf="this.data" class="demographic_table" >
      <p-table [value]="this.data" [scrollable]="true" scrollHeight="500px" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn style="flex-basis:85%">{{'stats.title' | translate}}</th>
                <th pResizableColumn style="flex-basis:15%">{{countColumnName | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-element>
            <tr>
              <td *ngIf="this.isProposal" style="flex-basis:85%">
                <a [routerLink]="['/proposal/' + element.id]"  title="Ir a la propuesta">{{element.title_es}}</a>
              </td>
              <td *ngIf="!this.isProposal" style="flex-basis:875%">
                {{element[titleColumn]}}
              </td>
              <td style="flex-basis:15%">
                {{element[countColumn]}}
              </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
  </p-tabPanel>
</p-tabView>
</div>
