<h3>
  Procesos participativos
</h3>
<section *ngIf="!this.participatory_processes_loading; else still_loading" class="histogram_chart">
  <div *ngIf="!this.isEmpty">
    <app-metrics-histogram
      [response]="this.participatory_processes_metrics?.history?.slice(0)?.reverse()"
      xName="Fecha"
      yName="Número de procesos participativos">
    </app-metrics-histogram>
  </div>
  <section *ngIf="this.isEmpty">
    No se han encontrado resultados para las fechas indicadas.
  </section>

</section>

<ng-template #still_loading>
  <app-still-loading></app-still-loading>
</ng-template>
