<h3>
  {{'metrics.participative_proccesses.title' | translate }}
</h3>
<section *ngIf="!this.participatory_processes_loading; else still_loading" class="histogram_chart">
  <div>
    <p-tabView *ngIf="!this.isEmpty">
      <p-tabPanel header="{{'metrics.accumulated' | translate}}">
        <app-metrics-histogram *ngIf="this.loadedGraphs == 2"
          [response]="this.accumulated_participatory_processes_metrics?.history"
          xName="{{'metrics.date' | translate }}"
          yName="{{'metrics.participative_proccesses.number_of_proccesses' | translate}}">
        </app-metrics-histogram>
      </p-tabPanel>
      <p-tabPanel header="{{'metrics.daily' | translate}}">
        <app-metrics-histogram *ngIf="this.loadedGraphs == 2"
          [response]="this.daily_participatory_processes_metrics?.history"
          xName="{{'metrics.date' | translate }}"
          yName="{{'metrics.participative_proccesses.number_of_proccesses' | translate}}">
        </app-metrics-histogram>
    </p-tabPanel>
  </p-tabView>
  <section *ngIf="this.isEmpty">
    <p>
      {{'errors.no_results' | translate }}
    </p>
  </section>
  </div>
</section>

<ng-template #still_loading>
  <app-still-loading></app-still-loading>
</ng-template>
