:host ::ng-deep .p-tabmenuitem{
  font-family: Verdana, Geneva, sans-serif; font-size: 22px; font-style: normal; font-variant: normal; font-weight: 550; line-height: 23px; background-color: #8F9696 !important;
}


:host ::ng-deep .p-tabmenu .p-tabmenu-nav{
  background-color: #8F9696;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{
  color: #447777; background-color: #8F9696 !important;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled){
  color: red;
}

:host ::ng-deep .p-menuitem-icon{
  font-size: 1.5rem;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav {
  border-bottom: none;
  box-shadow: none;
  outline: 0;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link-active {
      color: black !important; background-color: #8F9696;
}


:host ::ng-deep  #header_content .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background: #8F9696 !important;
  border-color: #6c757d;
  color: #FFFFFF;
}

#header_submenu{
  width: 100vw;
  background-color: rgb(250, 239, 239);
}

#header_content{
  width: 100vw;
  height: 6vh;
  background-color: #8F9696;
  padding-left: 2vh;
}
