<div id="history">
  <h2>
    Interacciones
  </h2>
  <h3>
    Evolución temporal de Personas
  </h3>
  <section *ngIf="!user_loading; else still_loading" class="histogram_chart">
    <div>
      <app-activities-histogram
        [response]="this.user_activities?.history?.slice(0)?.reverse()"
        xName="Fecha"
        yName="{{'activities.histogram.number_of_people' | translate}}">
      </app-activities-histogram>
    </div>

  </section>

  <h3>
    Evolución temporal de propuestas
  </h3>

  <section *ngIf="!proposal_loading; else still_loading" class="histogram_chart">
    <div>
      <app-activities-histogram
      [response]="this.proposal_activities?.history?.slice(0)?.reverse()"
      xName="Fecha"
      yName="{{'activities.histogram.number_of_proposals' | translate}}">
      </app-activities-histogram>
    </div>

  </section>

  <h3>
    Procesos participativos
  </h3>
  <section *ngIf="!participatory_processes_loading; else still_loading" class="histogram_chart">
    <div>
      <app-activities-histogram
      [response]="this.participatory_processes_activities?.history?.slice(0)?.reverse()"
      xName="Fecha"
      yName="{{'activities.histogram.number_of_processes' | translate}}">
      </app-activities-histogram>
    </div>

  </section>

  <h3>
    Comentarios
  </h3>
  <section *ngIf="!comments_loading; else still_loading" class="histogram_chart">
    <div>
      <app-activities-histogram
      [response]="this.comments_activities?.history?.slice(0)?.reverse()"
      xName="Fecha"
      yName="Número de comentarios">
      </app-activities-histogram>
    </div>

  </section>
</div>

<ng-template #still_loading>
  <app-still-loading></app-still-loading>
</ng-template>
