<h3>
  {{'activities.comments.title' | translate }}
</h3>

<section *ngIf="!this.isLoading;  else still_loading" class="histogram_chart">
  <div>
    <p-tabView *ngIf="!this.isEmpty">
      <p-tabPanel header="{{'activities.daily' | translate}}">
        <app-activities-histogram *ngIf="this.loadedGraphs >= 2"
          [response]="this.daily_comment_metrics?.history?.slice(0)?.reverse()"
          xName="{{'activities.date' | translate}}"
          yName="{{'activities.comments.number_of_comments' | translate}}">
        </app-activities-histogram>
      </p-tabPanel>
      <p-tabPanel header="{{'activities.accumulated' | translate}}">
        <app-activities-histogram *ngIf="this.loadedGraphs >= 2"
          [response]="this.accumulated_comment_metrics?.history?.slice(0)?.reverse()"
          xName="{{'activities.date' | translate}}"
          yName="{{'activities.comments.number_of_comments' | translate}}">
        </app-activities-histogram>
      </p-tabPanel>
  </p-tabView>
  <section *ngIf="this.isEmpty">
    <p>
      {{'errors.no_results' | translate }}
    </p>
  </section>
  <section id="filters" *ngIf="dateFrom && dateTo && minDate && maxDate">
    <span>{{"activities.showing_from" | translate }} </span>
    <p-calendar [(ngModel)]="dateFrom"
      dateFormat="dd/mm/yy"
      [readonlyInput]="true"
      [showIcon]="true"
      [minDate]="minDate"
      [maxDate]="maxDate"
      (ngModelChange)="this.processChange()"></p-calendar>
    <span>{{"activities.showing_to" | translate }}</span>
    <p-calendar [(ngModel)]="dateTo"
      dateFormat="dd/mm/yy"
      [readonlyInput]="true"
      [showIcon]="true"
      [minDate]="minDate"
      [maxDate]="maxDate"
      (ngModelChange)="this.processChange()"></p-calendar>
  </section>
  </div>

</section>


<ng-template #still_loading>
  <app-still-loading></app-still-loading>
</ng-template>
