<p-tabView [activeIndex]="activeIndex" (onChange)="this.changeType($event)" class="stats">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-calendar"></i>
      <span>Estadísticas generales</span>
    </ng-template>
    <!-- <app-graph-component *ngIf="this.type == 'endorsements'" [graphToCall]="this.type" [graphTitle]="this.graphTitle"></app-graph-component> -->
    <app-stats></app-stats>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-calendar"></i>
      <span>Dinámica temporal</span>
    </ng-template>
    <app-graph-component *ngIf="this.type == 'comments'" [graphToCall]="this.type" [graphTitle]="this.graphTitle"></app-graph-component>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-calendar"></i>
      <span>Redes de interacción</span>
    </ng-template>
    <app-histograms *ngIf="this.type == 'stats'"></app-histograms>
  </p-tabPanel>
</p-tabView>
