<div id="interactions">
  <h2>
    {{'interactions.title' | translate}}
  </h2>

<div id="interaction_tabView">
  <p-tabView >
    <p-tabPanel header="{{'interactions.comments' | translate}}">
      <div class="graph">
        <app-graph-component  [graphToCall]="this.commentsGraphType" graphTitle="{{'interactions.comments_network' | translate}}"></app-graph-component>
      </div>
    </p-tabPanel>
    <p-tabPanel header="{{'interactions.endorsements' | translate}}">
      <div class="graph">
        <app-graph-component   [graphToCall]="this.endorsementsGraphType" graphTitle="{{'interactions.endorsements_network' | translate}}"></app-graph-component>
      </div>
    </p-tabPanel>

  </p-tabView>
</div>
</div>
