
#interaction_tabView{
  margin-left: 4vw;
}

#communities_summary{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}

#long_explanation{
  margin-top: 20px;
  width: 1097px;
}

#legend{
  margin: 0 auto;
  text-align: center;
  margin-top: 3vh;
}

#content{
    height: 75vh !important;
}

#modularity_explanation{
  width: 200px;
}

#modularity_explanation a{
  text-decoration: none;
}

.population_legend_entry{
  display: inline-block;
}

.graph{
  display: block;
  height: 100px;
  width: 100px;
  max-width: 100px;
  max-height: 100px;
  padding-left: 8vw;
}

.graphComponent{
  display: inline-block;
  height: 70vh;
  width:  68vw;
}

::ng-deep  .p-tabview .p-tabview-nav{
  border: none;
}

#history_submenu{
  margin-top: -39px;
}

.target_color{
  width: 12px;
  height: 12px;
  display: inline-block;
}

.target_color_legend{
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 4px;
  vertical-align: top;
}

.target_text_legend{
  width: 41px;
  height: 22px;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 9px;
  vertical-align: top;
  margin-left: 9px;
  font-size: 20px;
  font-weight: 300;
}

#interaction_tabView__communities{
  margin: 0 auto;
  margin-top: 75vh;
}

.community_card{
  display: inline-block;
  width: 450px;
  margin: 15px;
}

.proposal_list{
  height: 120px;
  overflow-y: scroll;
}


.explanation_list {
  list-style: outside none none;
}
