<a id="top"></a>
<div id="legend">
  <ng-container *ngFor="let item of this.colorsNodesSortedList ; let indexOfelement=index;">
    <div *ngIf="isMinimumRatio(item.key)" class="population_legend_entry">
      <div class="target_color_legend" [style]="'background-color:' + item.key +';'"> </div>
      <span>{{getRatioOfCommunity(item.key) * 100 | number:'1.0-1'}}%</span>
    </div>
  </ng-container>
  <div class="population_legend_entry">
    <div class="target_text_legend"> {{'interactions.others' | translate}} </div>
    <span>{{this.othersRatio | number:'1.0-1'}}%</span>
  </div>
</div>
<div id="interaction_tabView">
  <div>
    <div class="graph" *ngIf="this.currentElement == 'comments'">
      <app-graph-component class="graphComponent" [graphToCall]="this.commentsGraphType" graphTitle="{{'interactions.comments_network' | translate}}"></app-graph-component>
      <div id="long_explanation">
        {{'interactions.long_explanation_1' | translate}}
          <a href="{{'interactions.network_url' | translate}}" target="_blank" title="{{'interactions.what_network' | translate}}">{{'interactions.what_network' | translate}}</a>
        {{'interactions.long_explanation_2' | translate}}
        <a href="{{'interactions.community_url' | translate}}" target="_blank" title="{{'interactions.what_community' | translate}}">{{'interactions.what_community' | translate}}</a>.
         {{'interactions.long_explanation_3' | translate}}.
      </div>
      <div *ngIf="this.modularityCommentsValue" id="modularity_explanation">
        <a href="https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.community.quality.modularity.html" parent="_blank" title="{{'interactions.modularity_explanation' | translate }}">{{'interactions.modularity_explanation' | translate }}</a>:
        {{this.modularityCommentsValue | number:'1.2'}}
      </div>
    </div>
    <div class="graph" *ngIf="this.currentElement == 'endorsements'">
      <app-graph-component class="graphComponent" [graphToCall]="this.endorsementsGraphType" graphTitle="{{'interactions.endorsements_network' | translate}}"></app-graph-component>
      <div id="long_explanation">
        {{'interactions.long_explanation_1' | translate}}
          <a href="{{'interactions.network_url' | translate}}" target="_blank" title="{{'interactions.what_network' | translate}}">{{'interactions.what_network' | translate}}</a>
        {{'interactions.long_explanation_2' | translate}}
        <a href="{{'interactions.community_url' | translate}}" target="_blank" title="{{'interactions.what_community' | translate}}">{{'interactions.what_community' | translate}}</a>.
         {{'interactions.long_explanation_3' | translate}}.
      </div>
      <div *ngIf="this.modularityCommentsValue" id="modularity_explanation">
        <a href="https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.community.quality.modularity.html" parent="_blank" title="{{'interactions.modularity_explanation' | translate }}">{{'interactions.modularity_explanation' | translate }}</a>:
        {{this.modularityEndorsementsValue | number:'1.2'}}
      </div>
    </div>
  </div>
  <div id="interaction_tabView__communities">
    <ng-container *ngFor="let item of this.colorsNodesSortedList; let indexOfelement=index;">
      <p-card class="community_card" *ngIf="isMinimumRatio(item.key)" >
        <ng-template pTemplate="header" >
          <h3 [style]="'color:' + item.key +';'">
            {{'interactions.community' | translate }}:  {{indexOfelement + 1}}
          </h3>
        </ng-template>
            <ul>
              <li>{{'interactions.color' | translate }}: <div class="target_color" [style]="'background-color:' + item.key +';'"> </div></li>
              <li>{{'interactions.people' | translate }}: {{getLenghtOfCommunity(item.key)}}</li>
              <li>{{'interactions.percentage' | translate }}: {{getRatioOfCommunity(item.key) * 100 | number:'1.2'}}%</li>
            </ul>
        <ng-template pTemplate="footer">
            <div>
              <h4 *ngIf="this.currentElement == 'endorsements'">{{'interactions.endorsed_proposal' | translate }}</h4>
              <h4 *ngIf="this.currentElement == 'comments'">{{'interactions.commented_proposal' | translate }}</h4>
              <ul class="proposal_list" *ngIf="this.communitiesProposals">
                <li *ngFor="let prop of getProposals(item.key) | keyvalue">{{prop.key}}</li>
              </ul>
            </div>
        </ng-template>
      </p-card>
    </ng-container>
  </div>
</div>
